@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

:root {
    --black: #0E1525;
    --backGreen: #1C2333;
    --lighterBack: #2B3245;
    --darkGreen: #346E8B;
    --lightGreen: #5bb9ae;
    --green: #458F95;
    --yellow: #F1B91D;
    --white: #D7DBDD;
    --red: #b95b5b;
}

* {
    transition: all 0.2s ease-in;
    font-family: 'Source Code Pro', monospace;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    margin: 0;
}

header {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 90%;
    flex-direction: column;
}

.light {
    background-color: var(--backGreen);
    border-radius: 10px;
    padding: 8px;
}


.value, .content {
    background-color: var(--lighterBack);
    padding: 5px;
    border-radius: 10px;
}

h1 {
    color: var(--lightGreen);
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: var(--darkGreen);
    margin: 5px;
}

h3 {
    margin: 5px;
    color: var(--white);
}

h4 {
    margin: 5px;
    color: var(--green);
    /* font-size: */
}

h5 {
    color: var(--white);
    margin: 0px;
    font-size: 40px;
}

.back {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.holder a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.holder a img {
    width: 20px;
}